/* @override
	http://localhost:8888/poly/css/true.css
	http://localhost:8888/polyconf.com/css/true.css */


@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa_Free_Light-webfont.eot');
    src: url('../font/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Nexa_Free_Light-webfont.woff') format('woff'),
         url('../font/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('../font/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

