h1 {
	font-weight: 300;
	font-size: rem-calc(48px);
	margin-bottom: 1em;
}

.dark * {
  color: #fff;
}

h2 {
	font-weight: 300;
}

h3 {
	font-weight: 300;
	color: #185c7b;
}

h3 small {
  display: block;
  margin-bottom: 1em;
}

.text-small {
  font-size: 0.7em;
  line-height: 1.3em;
}

.intro {
	font-weight: 300;
	font-size: rem-calc(24px);
	margin-bottom: 3em;
	
	small {
		font-size: rem-calc(18px);
	}
	
}

#hidden {
  position: relative;
  padding-top: 700px;
}

#top {

	background-image: -webkit-radial-gradient(50% 100%, ellipse farthest-corner, #0d668f, #04354c);
	background-image: 		  radial-gradient(50% 100%, ellipse farthest-corner, #0d668f, #04354c);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	overflow: visible;
	z-index: 1000000;
	height: 600px;

	#lines-bg {
 		background: url(../img/top-01.svg) repeat center;
 		background-size: 1900px auto;
 		width: 100%;
 		height: 100%;
 		position: absolute;
 		top: 0; 
 		right: 0;
 		bottom: 0;
 		left: 0;
 		opacity: 0.33;
 	}
 	
	#dark-bg {
		background: #032433;
 		width: 100%;
 		height: 100%;
 		position: absolute;
 		top: 0; 
 		right: 0;
 		bottom: 0;
 		left: 0;
	} 	

	.logo {
		position: absolute;
		top: 127px;
		left: 50%;
		width: 276px;
		height: 476px;
		margin: 0 0 0 -138px;
		background: url(../img/logo.svg) no-repeat center top;
		background-size: 100% auto;
		> div {
			width: 100%;
			height: 100%;
			background: url(../img/logo-fat.svg) no-repeat center top;
			background-size: 100% auto;
		}
	}

	.logo-type {
		position: absolute;
		bottom: 50px;
		left: 50%;
		width: 266px;
		height: 40px;
		margin: 0 0 0 -133px;
		background: url(../img/logo-type.svg) no-repeat center top;
		background-size: 266px auto;
	}

	
	nav {
		position: absolute;
		top: 25px;
		left: 50%;
		margin-left: -600px;
		width: 1200px;
		text-align: center;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				display: inline-block;
				text-align: center;

				a {
					text-transform: uppercase;
					color: #fff;
					padding: 10px;
					display: block;
					font-size: 1.1em;
					font-weight: 500;
				}
			
			&.buy-a-ticket {
				display: none;
			}
			
			}
	
		}
	
	}
	

	.about {
		position: absolute;
		color: #0bc1e5;
		top: 50%;
		left: 50%;
		width: 1200px;
		margin-left: -600px;
			
		> div {
			
			width: 33%;
			text-align: center;
			font-size: 24px;
			line-height: 30px;
		
			&.city {
				float: left;
			}
			
			&.date {
				float: right;
			}
		
		}
	}
	
}

#under-top-bar {
  background: #062840;
  text-align: center;
  color: #fff;
  padding: 0;
  position: fixed;
  top: 600px;
  left: 0;
  right: 0;
}




#poznan {
	background: url(../img/poznan.jpg) no-repeat center;
	height: 600px;
	padding: 200px 0 0;
}

#venue-photos {
  @include block-grid(
    $per-row: 3,
    $spacing: 0,
    $base-style: true
  );
  background: #313d44;
  > li {
	  clear: none !important;
	  position: relative;
	  &:before {
		  content: "";
		  display: block;
		  padding-top: 66%;
	  }
	  &.empty {
		  background: #313d44;
	  }
	  &.photo {
		  background-size:cover;
		  background-repeat: no-repeat;
		  background-position: center center;
	  }
	  .img {
		  	position:  absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
	  }	  
  }
}




#speakers {
	background: #244659;

/*
	.speaker-list {
		@include block-grid(
			$per-row: 3,
			$spacing: 0,
			$base-style: true
		);
		> li {
			clear: none !important;
		}
	}
*/

	.speaker-list {
		.speaker {
			min-height: 360px;
			padding: 20px 10px;
			.img {
				display: block;
				width: 100%;
				position: relative;
			
				&:before {
					content: "";
					display: block;
					padding-top: 90%;
				}
				
				a.face {
					background-size: cover;
					background-position: center;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
				
				.overlay {
					background: url(../img/speaker-bg.png) no-repeat left bottom;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
				
				.go {
				  position: absolute;
				  bottom: 10px;
				  right: 10px;
				  z-index: 10000;
				  width: 32px;
				  height: 32px;
				  background: url(../img/speaker-twitter.png) no-repeat left bottom;
				  
				  a {
				    display: block;
				    width: 100%;
				    height: 100%;
				    background: url(../img/twitter.svg) no-repeat center;
				    background-size: 20px auto;
				  }
				  
				  &:hover {
				    background: url(../img/speaker-twitter-h.png) no-repeat left bottom;
				  }
				  
				}
			
			}
			
			
			
			h3 {
				margin: 0.5em 0 0;
				font-weight: 500;
				font-size: rem-calc(18px);
			}

			h4 {
				font-size: rem-calc(14px);
			}
			
			.tags {
				list-style: none;
				margin: 0;
				padding: 0;
			
				li {
					font-size: 0.55em;
					line-height: 1em;
					float: left;
					padding: 0.4em 1.2em 0.5em 0.4em;
					margin-right: 0.7em;
					margin-bottom: 0.4em;
					color: #fff;
					background-position: right top;
					background-repeat: no-repeat;
					background-image: url(../img/speaker-tag.png);
					text-transform: uppercase;
					font-weight: 500;
					background-color: #666 !important;
				}
			}
			
			&.tba {
				.img  {
					background: url(../img/speaker-tba.png) no-repeat center;
				}
				
				&.short {
					min-height: 200px
				}
			}
		
		}	
	}

}

#call {
	background: #0b8c41;
	
	.intro {
		small {
			color: #fff;
			opacity: 0.85;
			border: 2px solid rgba(255,255,255,0.2);
			display: inline-block;
			padding: 0.5em 2em 0.6em;
			margin: 1em 0 0;
			line-height: 1.4em
		}
	}
	
	.steps {
		@include block-grid(
			$per-row: 5,
			$spacing: 0,
			$base-style: true
		); 
		> li {
			min-height: 150px;
			text-align: center;
			clear: none !important;
			em {
				font-size: rem-calc(20px);
				display: block;
				background: #fff;
				color: #0b8c41;
				font-style: normal;
				width: 40px;
				height: 40px;
				margin: 0 auto 1em;
				text-align: center;
				line-height: 40px;
				border-radius: 100%;
			}
			
			&.arrow {
				background: url(../img/call-arrow.svg) no-repeat center 58px;
				background-size: 50% auto;
				min-height: 150px;
			}
		}
	}
	
	.buy-a-ticket {
		margin-top: 2em;
		.button {
			border-radius: 5px;
			background: linear-gradient(#ddd,#eee);
			color: #0b8c41;
			border: 1px solid #097436;
			border-bottom-color: #054520; 
			
			-webkit-box-shadow: 0px 2px 0px #075c2b, inset 0 2px 0px #fff;
			   -moz-box-shadow: 0px 2px 0px #075c2b, inset 0 2px 0px #fff;
			   		box-shadow: 0px 2px 0px #075c2b, inset 0 2px 0px #fff;

			&:hover {

			}

		}
	}
}

#under-top-bar {
	padding-top: 20px;
}

#under-top-bar .clear {
  clear: both;
  background: #f00;
}

#under-top-bar .inline-block {
  margin-bottom: 20px;
  vertical-align: middle;
  display: inline-block;
}

#under-top-bar .inline-block > span {
  display: inline-block;
  padding: 20px 0;
}

#under-top-bar #download-prospectus {
  margin: 0 1ex;
}

#under-top-bar form {
  width: 300px;
  display: inline-block;
  margin-left: 1ex;
  vertical-align: middle;
}

#under-top-bar #newsletter-form input,
#under-top-bar #newsletter-form .button {
  margin: 0;
}

.button {
  background-image: linear-gradient(#1390b0,#127b96);
  border-radius: 2px;
}

.button.disabled,
.disabled a {
   background-image: linear-gradient(#ccc,#aaa) !important;
}

.button.disabled span.soon,
.disabled a span.soon {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  right: -2px;
  background: url(../img/soon.png) no-repeat right top;
  background-size: 100%;
}

.button.postfix {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

section {
  padding: 100px 0;
}

.container {
  margin: 0 auto;
  padding: 0 2em;
}




/* #SECTION small bar under the top */


#about {
  margin-top: 100px;
}

#stats {
  padding-top: 0;
  margin-top: -50px;
  margin-bottom: 100px;
}

#stats .column {
  text-align: center;
}

#stats .column figure {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

#stats .column.days      figure { background-image: url(../img/icons/today-512.png) }
#stats .column.attendees figure { background-image: url(../img/icons/group-512.png) }
#stats .column.talks     figure { background-image: url(../img/icons/speech_bubble-512.png) }
#stats .column.workshops figure { background-image: url(../img/icons/system_report-512.png) }
#stats .column.parties   figure { background-image: url(../img/icons/beer-512.png) }

#stats .column .big {
  display: block;
  font-size: 48px;
  font-family: Nexa;
}



#agenda .column {
  margin-top: 50px;
}

#agenda .awesome.big.tba {
  font-family: Nexa;
  color: rgba(0,0,0,0.05);
  font-size: 10em;
  line-height: 3em;
  text-align: center;
}

#agenda h3 {
  padding: 20px;
  margin: 0;
}

#agenda .event-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-bottom: none;
  display: table;
  width: 100%;
}

#agenda .event-list .event {
  height: 90px;
  display: table-row;
}

#agenda .event-list .event > div {
  border-bottom: 1px solid #ccc;
  display: table-cell;
  height: 90px;
  vertical-align: middle;
}

#agenda .event-list .event div.time {
  width: 100px;
  padding-right: 20px;
  text-align: right;
  font-size: 1.2em;
  font-weight: 300;
}

#agenda .event-list .event div.name span.title {
  color: #185c7b;
  display: block;
}

#agenda .event-list .event div.name span.person {
  font-size: 0.8em;
  line-height: 0.8em;
  display: block;
}

#agenda .event-list .event div.tags {
  padding-right: 20px;
  text-align: right;
}

#agenda .event-list .event div.tags span.tag {
}

#agenda .event-list .event div.tags span.tag.language {
  font-size: 0.7em;
  line-height: 1em;
  font-weight: 600;
  color: #fff;
  margin: 2px 0px 2px auto;
  background: #ccc;
  padding: 4px 5px;
  display: inline-block;
}

#agenda .event-list .event div.tags span.tag.level {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 10px;
}

#agenda .event-list .event div.tags span.tag.hi {
  background: #c00;
}

#agenda .event-list .event div.tags span.tag.perl {
  background: #3472b3;
}

#venue {
  background: #313d44;
}

#venue .container {
}

#venue #map {
  position: relative;
  height: 500px;
  background: #000;
  margin-top: 100px;
}

#venue #map iframe {
  width: 100%;
  height: 500px;
}

#venue .hotels {
  padding-top: 100px;
}

#venue .hotels .hotel {
  font-size: 1em;
}

#venue .hotels .hotel h3 {
  color: #fff;
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 1em 0 0.25em;
}

#venue .hotels .hotel p.prices-header {
  color: #fff;
  font-size: 0.75em;
  line-height: 1.2em;
  margin: 1em 0;
}


#venue .hotels .hotel p.address {
  font-size: 0.75em;
}

#venue .hotels .hotel table,
#venue .hotels .hotel table tr.even,
#venue .hotels .hotel table tr.alt,
#venue .hotels .hotel table tr:nth-of-type(even) {
  background: transparent;
}

#venue .hotels .hotel table {
  border: 1px solid rgba(255,255,255,0.2);
  min-width: 80%;
}

#venue .hotels .hotel table td {
  border-bottom: 1px solid rgba(255,255,255,0.1);;
  color: #ccc;
  font-size: 0.8em;
  padding: 0.4em 0.5em;
}

#venue .hotels .hotel table td:last-child {
  text-align: right;
}

#venue .hotels .hotel table tr:last-child td {
  border-bottom: none;
}

#venue .awesome.big.tba {
  font-family: Nexa;
  color: rgba(255,255,255,0.05);
  font-size: 10em;
  line-height: 2em;
  text-align: center;
}

#terms h2 {
  color: #666;
  font-size: 1.6em;
  margin: 0 0 1em;
}

#terms h5 {
  color: #bbb;
  text-align: center;
  font-family: Nexa;
  margin-bottom: 1.3em;
}

#terms h5 em {
  font-style: normal;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 100%;
  line-height: 41px;
  color: #bbb;
  font-family: Nexa;
}

#terms #code-of-conduct,
#terms #organizer {
  margin-top: 2em;
}

footer {
  background-image: -webkit-radial-gradient(50% 100%, ellipse farthest-corner, #0d668f, #032433);
  padding: 20px 0;
  font-size: 14px; 
  color: #fff;
  
  h4 {
	  color: #fff;
	  font-size: rem-calc(20px);
  }

  p, ul {
	  font-size: 16px; 
	  font-weight: 300;
	  margin: 0;
	  padding: 0;
	  list-style: none;
  }
  
  p.copy {
	  margin-top: 2em;
	  font-size: 14px;
	  
  }

}

footer #social a {}

/*
footer #social a.facebook { background-image: url(../img/icons/facebook-512.png); }
footer #social a.twitter  { background-image: url(../img/icons/twitter-512.png); }
footer #social a.gplus    { background-image: url(../img/icons/google_plus-512.png); }
footer #social a.linked   { background-image: url(../img/icons/linkedin-512.png); }
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  #speakers .speaker  {
    min-height: 260px;
    margin: 20px 0;
  }

  footer {
    background: #06374b;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    height: auto;
  }

  footer .columns {
    height: auto;
  }

  footer #copy {
    position: static;
    top: auto;
    margin-top: 0;
    text-align: center;
  }

  footer #social {
    position: static;
    top: auto;
    margin-top: 20px;
    right: auto;
    text-align: center;
  }

}

@media only screen and (max-width: 40em) {

  #hidden {
    padding: 0;
  }

  .top {
    position: relative;
  }

  #under-the-top {
    positionition: static;
  }

  .top nav {
    width: auto;
    left: 0;
    right: 0;
  }

  .top nav li {
    display: none !important;
  }


  .top nav li.buy-a-ticket {
    display: block !important;
    margin-right: 30px;
  }

/*  #under-top-bar .inline-block > span {
    margin-bottom: 1em;
//    display: block;
  }*/

  #stats .column {
    padding-left: 140px;
    padding-top: 30px;
    height: 130px;
  }

  #stats .column figure {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-left: -150px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
  }

  footer {
    background: #06374b;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    height: auto;
  }

  footer .columns {
    height: auto;
  }

  footer #copy {
    position: static;
    top: auto;
    margin-top: 0;
    text-align: center;
  }

  footer #social {
    position: static;
    top: auto;
    margin-top: 20px;
    right: auto;
    text-align: center;
  }

}



/*
@media screen and (min-width: 1025px) and (max-height: 840px) {

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: url(../img/bg.png) repeat center ;
  background-size: 1400px;
  height: 500px;
}

.top #logo {
  width: 250px;
  height: 334px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -167px 0 0 -123px;
  border: 1px solid rgba(0,0,0,0);
}

.top .logo .line1 {
  width: 291px;
  bottom: 0px;
}

.top .logo .line2 {
  bottom: 0;
  width: 146px;
  -webkit-transform: rotate(-56deg);
}

.top .logo .line3 {
  top: 39px;
  width: 188px;
  -webkit-transform: rotate(64deg);
}

.top .logo .line4 {
  top: 39px;
  width: 59px;
  -webkit-transform: rotate(-44deg);
}

.top .logo .line5 {
  left: 80px;
  top: 208px;
  width: 190px;
  -webkit-transform: rotate(-27.2deg);
}

.top .logo .line6 {
  left: 82px;
  top: 205px;
  width: 210px;
  -webkit-transform: rotate(-101deg);
}

.top .logo .line7 {
  left: 248px;
  bottom: 206px;
  width: 93px;
  -webkit-transform: rotate(-90deg);
}

.top .logo .line8 {
  left: 42px;
  top: -2px;
  width: 208px;
  -webkit-transform: rotate(9deg);
}

.top .logo .line9 {
  left: 248px;
  bottom: 207px;
  width: 239px;
  -webkit-transform: rotate(-149deg);
}

.top #name {
  position: absolute;
  top: 44%;
  left: 50%;
  width: 250px;
  margin: 260px 0 0 -125px;
  font-size: 24px;
  color: #fff;
}

.top #name .letter {
  float: left;
  opacity: 0;
  display: inline;
  width: auto;
}

.top #name .letter img {
  display: block;
}

.top #name #letter1 {
  margin-left: 0;
  width: 26px;
}

.top #name #letter1 {  width: 26px; }
.top #name #letter2 {  width: 37px; }
.top #name #letter3 {  width: 21px; }
.top #name #letter4 {  width: 30px; margin-left: -2px; margin-right: 12px; }
.top #name #letter5 {  width: 31px; }
.top #name #letter6 {  width: 37px; }
.top #name #letter7 {  width: 31px; }
.top #name #letter8 {  width: 25px; }




}*/

